@import "tailwindcss";
.button1 {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 7px 15px;
  border-radius: 100px;
  background: #cfef00;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  position: relative;
  top: 4px;
  font-size: 15px;
}

.button1:hover {
  background: #c4e201;
}

.button1 > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.button1:hover svg {
  transform: translateX(5px);
}

.button1:active {
  transform: scale(0.95);
}

button:hover {
  cursor: pointer;
}


